html {
    background: moccasin;
}


h1 {
    background: antiquewhite;
    border: 1px solid grey;
    color: chocolate;
    font-family: 'sofia';
    text-align: center;
}


ul {
    display: flex;
    border: 1px solid grey;
    background: antiquewhite;
    font-family: sans-serif;
    padding: 0px;
}

div.nav-container {
    display: flex;
    justify-content: center;
}

span {
    list-style: none;
}

div.image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.image-container img {
    flex: 1;
    border: 2px solid chocolate;
}

#wiener {
    width: 100%;
    height: 600px;
} 

#ribeye {
    width: 100%;
    height: 600px;
}

#calzone {
    width: 100%;
    height: 600px;
}
