html {
    background: moccasin;
}


h1 {
    background: antiquewhite;
    border: 1px solid grey;
    color: chocolate;
    font-family: 'sofia';
    text-align: center;
}


ul {
    display: flex;
    border: 1px solid grey;
    background: antiquewhite;
    font-family: sans-serif;
    padding: 0px;
}
li {
    color: black;
    list-style: none;
    width: auto;
    margin: 8px;
    margin-left: 20px;
}

div.recipe-image-board {
    border: 2px solid blue;
    background: antiquewhite;
    margin-top: 8px;
}

.front-images {
    display: inline-block;
    height: 200px;
    width: auto;
    margin: 8px;
}